<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.corpus.dao.FeatureDao">

	<cache eviction="FIFO" flushInterval="60000" size="500" readOnly="true"></cache>
	
	<!-- 将提特征的相关信息插入到数据库 -->
	<insert id="insert2feature" parameterType="Feature">
		insert into feature(mfcc, plp, fbank, corpusID, energy, melBins, ceps, lowFreq, highFreq, path) 
		values(#{mfcc}, #{plp}, #{fbank}, #{corpusID}, #{energy}, #{melBins}, #{ceps}, #{lowFreq}, #{highFreq}, #{path})
	</insert>
</mapper> 
